In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# # Import API key
from config import API_key

In [2]:
# import the csv 
weather_data = pd.read_csv("../data/weather_data.csv")
weather_data.head()

,City,Latitude,Longintude,Temperature (F),% Humidity,% Cloud Cover,Wind Speed (MPH)
0,Lebu,-37.62,-73.65,50.31,69,97,7.58
1,Tiksi,71.69,128.87,60.93,67,24,9.19
2,Bluff,-46.60,168.33,39.00,83,93,3.00
3,Pevek,69.70,170.31,44.71,72,83,9.53
4,Hasaki,35.73,140.83,73.13,100,75,3.36

In [3]:
# configure gmaps with API key
gmaps.configure(API_key)

In [4]:
# store Latitude and Longitude into locations
locations = weather_data[['Latitude', 'Longintude']].astype(float)

In [5]:
# humidity heatmap all datapoints
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=weather_data['% Humidity'],
                                 dissipating=False,
                                 max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Defining ideal weather conditions:

ideal_df = weather_data[(weather_data['% Humidity'] < 70) &
                        (weather_data['Temperature (F)'] > 75) &
                        (weather_data['Temperature (F)'] < 88) &
                        (weather_data['% Cloud Cover'] > 5) &
                        (weather_data['% Cloud Cover'] < 20) &
                        (weather_data['Wind Speed (MPH)'] > 1) &
                        (weather_data['Wind Speed (MPH)'] < 10)]
ideal_df

,City,Latitude,Longintude,Temperature (F),% Humidity,% Cloud Cover,Wind Speed (MPH)
222,Guánica,17.97,-66.91,86.41,64,13,5.99
238,Nizwá,22.93,57.53,87.33,49,6,9.73
360,Aktau,43.65,51.20,82.40,45,13,6.71
371,Aleksandrovskoye,44.71,43.00,84.20,28,16,4.47
473,Jerez,14.10,-89.75,86.00,58,13,5.82
525,Elbistan,38.21,37.20,78.94,37,12,8.37
578,Hajdúszovát,47.38,21.48,78.80,54,16,4.70
594,Caborca,30.58,-111.10,87.01,59,12,1.99
775,Longjiang,47.33,123.18,75.02,54,18,7.83
780,Kaduqli,11.02,29.72,78.53,67,11,4.41

In [14]:
#create a new dataframe that will add hotels to the ideal locations
hotel_df = ideal_df

#reset the index
hotel_df.reset_index(drop=True, inplace=True)

hotel_df

,City,Latitude,Longintude,Temperature (F),% Humidity,% Cloud Cover,Wind Speed (MPH)
0,Guánica,17.97,-66.91,86.41,64,13,5.99
1,Nizwá,22.93,57.53,87.33,49,6,9.73
2,Aktau,43.65,51.20,82.40,45,13,6.71
3,Aleksandrovskoye,44.71,43.00,84.20,28,16,4.47
4,Jerez,14.10,-89.75,86.00,58,13,5.82
5,Elbistan,38.21,37.20,78.94,37,12,8.37
6,Hajdúszovát,47.38,21.48,78.80,54,16,4.70
7,Caborca,30.58,-111.10,87.01,59,12,1.99
8,Longjiang,47.33,123.18,75.02,54,18,7.83
9,Kaduqli,11.02,29.72,78.53,67,11,4.41

In [19]:
# Use the Google Places API to find the first hotel for each city 
# used radius of 10000m to ensure all cities have hotels associated.

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# search for a hotel for each city, one row at a time
for index, row in hotel_df.iterrows():
    #set the hotel latitude and longitude
    hotelLat = hotel_df.loc[index, 'Latitude']
    hotelLong = hotel_df.loc[index, 'Longintude']
    
#     create the target coordinates
    target_coordinates = (f'{hotelLat}, {hotelLong}')
    
    params = {
        "location": target_coordinates,
        "radius": 20000,
        "type": "lodging",
        "key": API_key
    }
    
    response = requests.get(base_url, params=params)
    print(response.url)
    places_data = response.json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = places_data['results'][1]['name']
        hotel_df.loc[index, 'Hotel Lat'] = places_data['results'][1]['geometry']['location']['lat']
        hotel_df.loc[index, 'Hotel Long'] = places_data['results'][1]['geometry']['location']['lng']

    except:
        print('No hotel found')
        
hotel_df

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=17.97%2C+-66.91&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI

C:\Users\mmidw\anaconda3\envs\NewPythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=22.93%2C+57.53&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=43.65%2C+51.2&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=44.71%2C+43.0&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=14.1%2C+-89.75&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=38.21%2C+37.2&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.38%2C+21.48&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=30.58%2C+-111.1&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.33%2C+123.18&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=11.02%2C+29.72&radius=20000&type=lodging&key=AIzaSyAbEIEOAtVLafW05eCqkipTpPQnqhSLOcI

,City,Latitude,Longintude,Temperature (F),% Humidity,% Cloud Cover,Wind Speed (MPH),Hotel Name,Hotel Lat,Hotel Long
0,Guánica,17.97,-66.91,86.41,64,13,5.99,Costa Bahia Hotel & Convention Center,18.031795,-66.797529
1,Nizwá,22.93,57.53,87.33,49,6,9.73,Al Karam Hotel Apartment,22.894808,57.567148
2,Aktau,43.65,51.20,82.40,45,13,6.71,Silk Way Hotel,43.637364,51.179965
3,Aleksandrovskoye,44.71,43.00,84.20,28,16,4.47,Voyazh,44.706656,43.005348
4,Jerez,14.10,-89.75,86.00,58,13,5.82,Finca San Antonio,13.995944,-89.670582
5,Elbistan,38.21,37.20,78.94,37,12,8.37,Hotel Ceyhan,38.206757,37.193999
6,Hajdúszovát,47.38,21.48,78.80,54,16,4.70,M Hotel,47.455997,21.402407
7,Caborca,30.58,-111.10,87.01,59,12,1.99,Hotel Los Cisnes Santa Ana,30.536106,-111.116202
8,Longjiang,47.33,123.18,75.02,54,18,7.83,Xinhua Hostel,47.335676,123.183924
9,Kaduqli,11.02,29.72,78.53,67,11,4.41,لكودة كادوقلي,11.008364,29.712805

In [ ]:
# map hotels over heatmap

marker_locations = hotel_df[['Hotel Lat', 'Hotel Long']]

# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Poverty Rate: {rate}" for rate in poverty_rate])
fig.add_layer(markers)
fig

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [ ]:
 # Add marker layer ontop of heat map


# Display figure